<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar color="primary">
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="map_canvas" class="ion-text-center">
    <ion-button (click)="onClick()" color="primary" fill="solid">
      Click me
    </ion-button>
  </div>
</ion-content>

<style>
  #map_canvas {
    height: 90%;
  }
</style>
